In [2]:
import json
import pandas as pd

Predictions is the result from Josh's frame.

In [4]:
with open("./data/predictions.json", "r") as json_file:
    predictions = json.load(json_file)

# Create a DataFrame from the JSON data
betters = pd.DataFrame(predictions)

# explode the eth column, so that each element in the list is a new row
betters = betters.explode("eth")

betters.head()

         username                                         eth
0        jackyhkl  0x72aa053900fce082c9297969e9b3067619a84697
1         charlie  0xdc7be5c7e4a1fc1fdca8165c0b3c527a510ce1eb
2         jkh5656  0xaed98a518f6db3aa8f2c55c79027f6cae87f4dcd
3           milob  0x9e59edf20d62acbc689d5e72b8f72fedd7a3d282
4  chukwukaosakwe                                         NaN

erc20 transfers is from basescan (maybe a cleverer way to get at it), and represents everyone who gave a erc20 token to the football party contract from March 25th (arbitrary) to March 31st.

In [5]:
erc20_transfers = pd.read_csv("./data/erc20_transfers.csv")
erc20_transfers.head()

,Txhash,UnixTimestamp,DateTime,From,To,TokenValue,USDValueDayOfTx,ContractAddress,TokenName,TokenSymbol
0,0x77caea49689331e384500c83882aab49935abf178e12...,1711636425,2024-03-28 14:33:45,0x5d5d96abd337c830dc96a396f4ef32a2fdc3563d,0x917cd75e2009e6193eec3b23cc89cf0cd59a28ed,582.16125982,NaN,0x4ed4e862860bed51a9570b96d89af5e1b0efefed,Degen,DEGEN
1,0x16f4a1a614f90b01b0a491feee4ea8c316e446223482...,1711649371,2024-03-28 18:09:31,0x20fe51a9229eef2cf8ad9e89d91cab9312cf3b7a,0x917cd75e2009e6193eec3b23cc89cf0cd59a28ed,1,NaN,0x54d2cde1f6cade45318bcad4b5e05803965bbb19,# blast2l.com,Visit blast2l.com to claim rewards
2,0x39da42455f2b296a2bc8f24d511da42898404db466a5...,1711653617,2024-03-28 19:20:17,0x8441fa93a8f2e372aba8a9f94f9dd78e9fb7ea36,0x917cd75e2009e6193eec3b23cc89cf0cd59a28ed,534.817847653382647039,NaN,0x4ed4e862860bed51a9570b96d89af5e1b0efefed,Degen,DEGEN
3,0x00c458b32046e16e4f8527d077a4dc9ee1c4ec94bfb0...,1711657237,2024-03-28 20:20:37,0x511affbf7afdf2488fb1cba6e5d19508cff2e4a5,0x917cd75e2009e6193eec3b23cc89cf0cd59a28ed,534,NaN,0x4ed4e862860bed51a9570b96d89af5e1b0efefed,Degen,DEGEN
4,0x99385cc23f8a9dae00a17d0ade75fb97a95f5007af09...,1711658381,2024-03-28 20:39:41,0x19008e616714d8df0b69f23db9ad779251923b84,0x917cd75e2009e6193eec3b23cc89cf0cd59a28ed,259.41590721207297,NaN,0x4ed4e862860bed51a9570b96d89af5e1b0efefed,Degen,DEGEN

Merge the two to find out who made a prediction, and how much they contributed

In [7]:
df = pd.merge(erc20_transfers, betters, left_on="From", right_on="eth")
df.head()

,Txhash,UnixTimestamp,DateTime,From,To,TokenValue,USDValueDayOfTx,ContractAddress,TokenName,TokenSymbol,username,eth
0,0x39da42455f2b296a2bc8f24d511da42898404db466a5...,1711653617,2024-03-28 19:20:17,0x8441fa93a8f2e372aba8a9f94f9dd78e9fb7ea36,0x917cd75e2009e6193eec3b23cc89cf0cd59a28ed,534.817847653382647039,NaN,0x4ed4e862860bed51a9570b96d89af5e1b0efefed,Degen,DEGEN,veekay,0x8441fa93a8f2e372aba8a9f94f9dd78e9fb7ea36
1,0x00c458b32046e16e4f8527d077a4dc9ee1c4ec94bfb0...,1711657237,2024-03-28 20:20:37,0x511affbf7afdf2488fb1cba6e5d19508cff2e4a5,0x917cd75e2009e6193eec3b23cc89cf0cd59a28ed,534,NaN,0x4ed4e862860bed51a9570b96d89af5e1b0efefed,Degen,DEGEN,artlu,0x511affbf7afdf2488fb1cba6e5d19508cff2e4a5
2,0x99385cc23f8a9dae00a17d0ade75fb97a95f5007af09...,1711658381,2024-03-28 20:39:41,0x19008e616714d8df0b69f23db9ad779251923b84,0x917cd75e2009e6193eec3b23cc89cf0cd59a28ed,259.41590721207297,NaN,0x4ed4e862860bed51a9570b96d89af5e1b0efefed,Degen,DEGEN,supertaster,0x19008e616714d8df0b69f23db9ad779251923b84
3,0x3e7c4bd35c123835b6195cddd9e21e322bb7d7383e8a...,1711824357,2024-03-30 18:45:57,0x04333a1788a47068b9102d2d35695c312a0b312f,0x917cd75e2009e6193eec3b23cc89cf0cd59a28ed,"1,000",NaN,0x4ed4e862860bed51a9570b96d89af5e1b0efefed,Degen,DEGEN,ashrafstakala,0x04333a1788a47068b9102d2d35695c312a0b312f
4,0x1b64569765799b79574a9dbee3af5f70c0f6a23dd344...,1711863417,2024-03-31 05:36:57,0xe9ea9bc53afa54e625351be9b0c2ba8907bfac66,0x917cd75e2009e6193eec3b23cc89cf0cd59a28ed,119.67993344061972,NaN,0x4ed4e862860bed51a9570b96d89af5e1b0efefed,Degen,DEGEN,chucho,0xe9ea9bc53afa54e625351be9b0c2ba8907bfac66

In [9]:
results = df[["username", "TokenName", "TokenSymbol", "TokenValue"]]
results.head(10)

        username TokenName TokenSymbol              TokenValue
0         veekay     Degen       DEGEN  534.817847653382647039
1          artlu     Degen       DEGEN                     534
2    supertaster     Degen       DEGEN      259.41590721207297
3  ashrafstakala     Degen       DEGEN                   1,000
4         chucho     Degen       DEGEN      119.67993344061972
5      agostbiro     Degen       DEGEN      227.99877174986335
6           sage     Degen       DEGEN            111.65758267
7    cowellbunga     Degen       DEGEN      220.87495784971105